body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-holder{
    font-family: 'Lato',sans-serif;
    color: #344055;
    background-color: #fbfafb;
    padding: 20px;
    border: 15px solid #344055;
    width: 1200px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
}
form{
    font-family: 'Lato',sans-serif;
    font-size: 125%;
    margin: auto;
    width: 95%; 
}
input{
    left: 85px;
    color: black;
    
}
input[type=checkbox]{
  
    left: -15px;
    
}
select{
    
    left: 85px;
    color: black;
    background-color: #fbfafb;
}
label[for=consent]{
    left: 100px;
    font-size: 96%;
    text-align: left;
}
label[for=fiveYearInjury]{
    font-size: 96%;
}
label{
    float: left;
    text-align: justify;
}  
button{
    color: black;
}
 
#results{
    font-family: 'Lato', sans-serif;
    color: #344055;
    border-radius: 15px;
    padding: 20px;
   position: absolute;
    width: 1200px;
    border: 25px solid #344055;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top:5%;
    
}
#results img{
    width: 95%;
}
#resultsTable{
    border-collapse: collapse;
    background-color: #aaa;
}     
#resultsTable, th, td {
    color: #344055;
    padding: 10px;
    border: 1px solid #000;
} 

button{
    
    background: #123288;
    width: 155px;
    height: 40px;
    color: antiquewhite;
    font-size: medium;
    border-radius: 15px;
    border: none;
    
}